BODY { font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; font-size:0.8em; color:#000000; background: #F6F6F6; }
h1 { font-size:1.6em; }
h2 { font-size:1.2em; }
h3 { font-size:1em; }
img { border: 0px; text-decoration: none; }
